{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#    <h1 class="text-center">Добро пожаловать на главную страницу!</h1>#}
{##}
{#    <div class="text-center">#}
{#        <button class="btn btn-primary"#}
{#                hx-post="{% url 'check_mongodb' %}"#}
{#                hx-target="#status"#}
{#                hx-swap="outerHTML"#}
{#                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>#}
{#            Проверить подключение к MongoDB#}
{#        </button>#}
{#    </div>#}
{##}
{#    <br>#}
{##}
{#    <div id="status" class="mt-3">#}
{#        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">#}
{#    </div>#}
{#{% endblock %}#}

{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Добро пожаловать на главную страницу!</h1>

    <!-- Проверка подключения автоматически при загрузке страницы -->
    <div id="status"
         hx-post="{% url 'check_mongodb' %}"
         hx-trigger="load"
         hx-swap="none"
         hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    </div>

{% endblock %}

